NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_MP_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADO_PAGO_TEST_TOKEN=false
NEXT_PUBLIC_SITE_URL=https://tu-dominio.com
RESEND_API_KEY=
RESEND_FROM="Rifas Wallpapers <onboarding@resend.dev>"
ADMIN_DRAW_SECRET=
ADMIN_SETTINGS_USER=
ADMIN_SETTINGS_PASSWORD=
