NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_MP_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
RESEND_API_KEY=
RESEND_FROM="Rifas Wallpapers <onboarding@resend.dev>"
ADMIN_DRAW_SECRET=
